@import url(https://fonts.googleapis.com/css?family=Montserrat);

body{
	font-family: 'Montserrat', sans-serif;
	overflow: auto;
	padding: 0;
	margin: 0;
}
header{
	width: 100%;
	height: 200px;
}
#content_splash{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -5;	
}
a:hover{
	color: #9CBF00;
}
nav{
	width: 100%;
	border-bottom: 2px solid #fff;
}
nav ul{
	width: auto;
	height: 35px;
}
nav li a{
	text-decoration: none;
	color: #fff;
}
nav li{
	width: auto;
	height: 35px;
	padding: 0 15px;
	list-style-type: none;
	display: inline-block;
	text-align: center;
	line-height: 35px;
}

main{
	width: 79%;
	height: auto;
	padding: 0 2%;
	float: left;
}
aside{
	width: 11%;
	height: 65vh; /*% of Viewport Height*/
	padding: 0 2%;
	float: right;
}
aside p{
	float: right;
}
h1, p{
	color: #fff;
}
.advert{
	width: 100%;
	height: auto;	
}
footer{
	width: 90%;
	padding: 0 5%;
	height: 50px;
	clear: both;
}
footer span,footer span a{
	display: inline;
	padding: 0 10px 0 0;
	line-height: 50px;
	text-decoration: none;
	color: #fff;}
