@import url(https://fonts.googleapis.com/css?family=Montserrat);

body{
	font-family: 'Montserrat', sans-serif;
	overflow: auto;
	padding: 0;
	margin: 0;
}
header{
	width: 100%;
	height: 200px;
}
#content_splash{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -5;	
}
a:hover{
	color: #9CBF00;
}
nav{
	width: 100%;
}
nav ul{
	width: auto;
	height: 35px;
}
nav li a{
	text-decoration: none;
	color: #fff;
}
nav li{
	width: auto;
	height: 35px;
	padding: 0 15px;
	list-style-type: none;
	display: inline-block;
	text-align: center;
	line-height: 35px;
}

main{
	width: 79%;
	height: auto;
	padding: 0 2%;
	float: left;
}
aside{
	width: 11%;
	height: 65vh; /*% of Viewport Height*/
	padding: 0 2%;
	float: right;
}
aside p{
	float: right;
}
/*general*/
p, a, li, summary, h3{
	font-size: 1.1em;
	color: #fff;
	line-height: 30px;    
	/*text-transform: uppercase;*/
}
h1, h2{
	font-size: 2em;
	color: #fff;
}
main li{
	margin-left: 30px;
	font-size: 1.5em;
	line-height: 40px;	
}
.advert{
	width: 100%;
	height: auto;	
}
summary{
	font-size: 1.4em;	
}
article{
	border-bottom: 2px solid #fff;	
}

/*table styles*/
table{
	width: 100%;
	height: auto;
	margin: 50px 0;
	color: #fff;
}
table img{
	width: 120px;
	height: 120px;
}
table th{
	text-align: left;
	text-decoration: underline;
}
/*form styles*/
form{
	width: 100%;
	height: auto;
	border: none;
}
form label,form input{
	width: 100%;
	height: 40px;
	border: none;
	font-size: 1.1em;
	margin: 10px 0;
}
form label{
	color: #fff;
}
.submit_button{
	width: 75px;
	height: 40px;
	float: right;
	margin: 20px 0;
}
fieldset{
	border: none;	
}
/*footer styles*/
footer{
	width: 90%;
	padding: 0 5%;
	height: 50px;
	clear: both;
}
footer span,footer span a{
	display: inline;
	padding: 0 10px 0 0;
	line-height: 50px;
	text-decoration: none;
	color: #fff;
}
